/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/2つの研究の比較/data_score_id/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/2つの研究の比較/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/AutoEncoder/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/DeepSVDD/data/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/DeepSVDD/imgs/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/DeepSVDD/log/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/DeepSVDD/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォントIDの研究/Transformer/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/AutoEncoder/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/AutoEncoder/久保田さん/font_crello_AtoZ_original/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/AutoEncoder/久保田さん/font_crello_AtoZ_reconstructed(debug)/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/AutoEncoder/久保田さん/npy/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/AutoEncoder/久保田さん/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/DeepSVDD/data/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/DeepSVDD/imgs/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/DeepSVDD/log/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/DeepSVDD/result/
/home/miyatamoe/ドキュメント/研究/1class_TF_and_NN/フォント画像の研究/Transformer/result/